name: Test
on:
  workflow_call:
    inputs:
      python-version:
        type: string
        default: '3.13'
jobs:
  check_style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ inputs.python-version }}
      - run: uv sync
      - run: uv run invoke style --check
  check_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ inputs.python-version }}
      - run: uv sync
      - run: uv run invoke lint
  check_lint_deep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ inputs.python-version }}
      - run: uv sync
      - run: uv run invoke lint.deep
