on:
  workflow_call:
    inputs:
      python-version:
        type: string
        default: '3.13'
    secrets:
      pypi_password:
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ inputs.python-version }}
      - run: uv sync
      - run: uv run invoke dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.pypi_password }}
